.parallaxContainer .parallax img {
    opacity: 0.8 !important;
    position: absolute;
    left: 50%;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}

.textoBlanco {
    color: white;
    font-family: Asap,sans-serif !important;
    /* text-shadow: 1px 1px 2px black; */
}

.tituloPresentacion{
    font-family: Asap,sans-serif !important;
    color: #00aae4 !important;
    font-weight: 700;
    /* text-shadow: 1px 1px 2px white; */
}