div.cardRegistro {
    margin-top: 17%;
}

.parallaxContainer {
    width: 100% ;
    background: no-repeat fixed center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100vh;
}

.parallax img {
    opacity: 0.6 !important;
}

div.showPasswordIcon {
    right: 0px !important;
    cursor: pointer;
}

div.condiciones{
    text-align: center;
}

div.condiciones p{
    font-size: small;
}