.botonOutline{
    background-color: white !important;
    border:  3px dotted var(--primary-color);
    border-radius: 2px;
    color:  var(--primary-color);
    font-weight: bold;
    height: 36px;
    line-height: 20px;
    margin: 5px;
    overflow: visible;
    text-align: center;
    transition: all .15s linear;
    width: 100%;
}

/*Color primario*/
.botonOutline:hover{
    background-color: var(--primary-color) !important;
    border:  2px solid var(--primary-color);
    color: white;
    cursor: pointer;
}

.botonOutline:focus{
    background-color: var(--primary-color) !important;
    border:  2px solid var(--primary-color);
    color: white;
    cursor: pointer;
}