div.cardRegistro {
    margin-top: 5%;
    font-family: 'Noto Sans', sans-serif !important;
}

.parallaxContainer {
    height: 100%;
    width: 100% ;
    background: no-repeat fixed center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.parallax img {
    opacity: 0.6 !important;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Fjalla One', sans-serif !important;
}

.nombreAlmacen{
    margin-bottom: 5%;;
}

.apodoAlmacen{
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    margin-bottom: 8%;
    line-height: 1% !important;
    margin-top: 14%;
}

.light{
    float: left;
    top:0;
    margin-top: 0;
    padding-top: 0;
    height: 30px;
    width: 50px
}

.iconPhone{
    top: 0;
    margin: 0;
    padding: 0;
    font-size: 40px;
}

.ladoInforamcion{
    border-left: 1px solid;
    padding-left: 5% !important;
}

.googleMaps{
    width:600px;
    height:450px;
    border:0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.responsiveIframe {
    position: relative;
    padding-top: 56.25%;
  }
  
  .responsiveIframe iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .informacionContacto{
      margin-bottom: 5% !important;
  }