div.cardLogin {
    margin-top: 17%;
}

.parallaxContainer {
    height: 100%;
    width: 100% ;
    background: no-repeat fixed center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100vh;
}

.parallax img {
    opacity: 0.6 !important;
}

.botonGoogle{
    width: 100% !important;
    height: 36px;
    margin-top:30px;
    text-align: center;
    line-height: 22px;
    border:  1px solid rgba(43, 187, 173, 0.4);
    background-color: white;
    border-radius: 2px;
    color: black;
}

.botonGoogle:hover{

    color: black;
    background-color: #f2f7fe;
    border:  1px solid #d1e3fa;
}
.imagenGoogle{
    width: 4%;
    height: auto;
    margin: auto 10px auto auto;
}
