
.colorH4{
    color: #3d3e3f;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
    text-align: center;
    margin: 40px auto 60px auto;
}
.centrar{
    align-items: center;
    text-align: center;
}
