@import url('https://fonts.googleapis.com/css2?family=Asap&display=swap');

body {
  margin: 0;
  font-family: Asap, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  /* COLORES */
  --primary-color: #00aae4;
  --primary-color-light: #bceeff;
  --primary-color-dark: #005a79;
  --secundary-color: #727272;
  --success-color: rgb(122, 212, 52);
  --danger-color: #dc3545;
  /* FIN COLORES */
}